# Python
__pycache__/
*.pyc
*.pyo
.venv/

# Spotify authentication token
.cache
.cache-*

# Secret environment files
.env
**/.env

# PlatformIO
.pio/
**/.pio/

# VS Code
.vscode/

# Operating system files
.DS_Store
Thumbs.db
# DeskSync local database
bridge/data/
*.db
*.db-journal
*.db-shm
*.db-wal
# ESP32 private configuration
esp32/include/config.h
# PlatformIO compilation database
esp32/compile_commands.json
